:root{
    --header-option-height: 40px;
    --header-height: 50px;
    --header__logo-height: 50px;
    --header__subnav-height: 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}